langchain
langchain-core
langchain-chroma
langchain-community
langchain-huggingface
langchain-groq
python-dotenv
sounddevice
edge-tts
scipy
openai-whisper
gTTS
numpy
tk
pypdf
chromadb
sentence-transformers
ffmpeg-python